// colors
$dark-mode-element: #2b3945;
$dark-mode-background: #202c37;
$dark-mode-text: #ffffff;

$light-mode-element: #ffffff;
$light-mode-background: #fafafa;
$light-mode-text: #111517;
$light-mode-input: #858585;

// screen size
$mobile-size: 475px;
$desktop-size: 1440px;
